{
  "openapi": "3.0.0",
  "info": {
    "title": "Secton API Documentation",
    "version": "1.0.0",
    "description": "OpenAPI specification for Secton API."
  },
  "servers": [
    {
      "url": "https://api.secton.org",
      "description": "Production"
    }
  ],
  "components": {
    "security": [
      {
        "ApiKeyAuth": []
      }
    ],
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "ChatCompletionChunkSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion.chunk"
            ]
          },
          "created": {
            "type": "number"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "number"
                },
                "delta": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    }
                  }
                },
                "finish_reason": {
                  "type": "string",
                  "nullable": true
                }
              },
              "required": [
                "index",
                "delta",
                "finish_reason"
              ]
            }
          }
        },
        "required": [
          "id",
          "object",
          "created",
          "model",
          "choices"
        ]
      },
      "ChatCompletionRequestSchema": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessageSchema"
            },
            "minItems": 1
          },
          "temperature": {
            "type": "number",
            "default": 0.7
          },
          "stream": {
            "type": "boolean",
            "default": false
          },
          "max_tokens": {
            "type": "integer",
            "exclusiveMinimum": true,
            "maximum": 4096,
            "minimum": 0
          }
        },
        "required": [
          "model",
          "messages"
        ]
      },
      "ChatCompletionResponseSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ]
          },
          "created": {
            "type": "number"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "number"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": [
                        "assistant"
                      ]
                    },
                    "content": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "role",
                    "content"
                  ]
                },
                "finish_reason": {
                  "type": "string"
                }
              },
              "required": [
                "index",
                "message",
                "finish_reason"
              ]
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "number"
              },
              "completion_tokens": {
                "type": "number"
              },
              "total_tokens": {
                "type": "number"
              }
            },
            "required": [
              "prompt_tokens",
              "completion_tokens",
              "total_tokens"
            ]
          }
        },
        "required": [
          "id",
          "object",
          "created",
          "model",
          "choices",
          "usage"
        ]
      },
      "ChatMessageSchema": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "role",
          "content"
        ]
      },
      "ModelSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "model"
            ]
          }
        },
        "required": [
          "id",
          "object"
        ]
      },
      "ModelsResponseSchema": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModelSchema"
            }
          }
        },
        "required": [
          "object",
          "data"
        ]
      }
    },
    "responses": {}
  },
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "operationId": "post-external-api-v1-chat-completions",
        "summary": "Create a chat completion",
        "description": "",
        "tags": [
          "Chat"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequestSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponseSchema"
                }
              }
            }
          },
          "200 ChatCompletionChunkSchema": {
            "$ref": "#/components/responses/200 ChatCompletionChunkSchema"
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "operationId": "get-external-api-v1-models",
        "summary": "List available models",
        "description": "",
        "tags": [
          "Models"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponseSchema"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Chat"
    },
    {
      "name": "Models"
    }
  ]
}
